.icon-code-container{
  width: 100%;
  font-size: 14px;
  background-color: #f6f8fa;
  padding:10px;
  margin: 10px 0px;
  box-sizing: border-box;
  code{
    .bold{
      font-weight: bold;
    }
    .red{
      color:#d14;
    }
    .blue{
      color:#000080;
    }
  }
}
