.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid red;

  p {
    background-color: yellow;
  }
}

html{
  height: 100%;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
}

.icon-body{
  display: flex;
  .icon-main-menu-container{
    flex:1;
    max-width: 200px;
  }
  .icon-content-container{
    flex:5;
  }
}