.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid red;

  p {
    background-color: yellow;
  }
}

html{
  height: 100%;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
}

.icon-main-header{
  width: 100%;
  height: 70px;
  background-color:#18afc2;
  color:#ffffff;
  display: table;
  position: fixed;
  top:0;
  left:0;
  .icon-main-header-text{
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
    text-align: center;
  }
}

.icon-body-container{  
  padding:70px 0px 0px 0px;
  width: 100%;
  height: calc(100vh - 70px);
  overflow: auto;
  box-sizing: border-box;
  .icon-body{
    display: flex;
    height: 100%;
  }
  .icon-main-menu-container{
    height: 100%;
    overflow:auto;
    flex:1;
    max-width: 200px;
    min-width: 200px;
  }
  .icon-content-container{
    flex:5;
    box-sizing: border-box;
    margin: 20px;
  }
}

.icon-footer-container{
  position: relative;
}

.myico-footer,
.icop-footer {
  height: 70px;
  font-size: 13px;
  line-height: 70px;
  color: #292a2f;
  background-color: #00a7bb;

  &.footer-myico {
    color: #00717f;
    background-color: #dde4ef;

    .footer-right .footer-right-link {
      color: #14717e;
    }
  }
  .footer-left{
    margin: 0;
    position: absolute;
    top: 0%;
    left: 20px;
  }
  .footer-right {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -10px;
    padding-top: 1px; //자식 요소 focus시 outline이 어긋나는 문제 해결용
    box-sizing: border-box;
    height: 20px;

    &:after {
      display: block;
      content: '';
      clear: both;
    }

    .footer-right-link {
      float: left;
      color: #292a2f;
      font-size: 13px;
      text-decoration: none;
      margin-top: 1px;
      margin-left: 20px;
      margin-right: 1px;
      
      
      &:first-child {
        margin-left: 1px;
      }
    }

  }
}

.icon-main-menu-container{
  background-color: #ecf4f5;
  box-sizing: border-box;
  padding:10px;

  .contract-category {
    display: block;
    margin-top: 10px;
    // margin-left: 30px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 15px;
    @include font-sub;
    border-bottom: 2px solid #323232;
    box-sizing: border-box;
  
    .contract-tab {
        position: relative;
        display: inline-block;
        width: 100%;
        color: #4c4c4c;
        vertical-align: middle;
        padding: 10px 0;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
  
        &:hover {
            font-weight: 500;
        }
  
        &:after {
            opacity: 0;
            display: block;
            height: 4px;
            color: #262626;
            background-color: #323232;
            margin: 4px auto;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -5px;
            transform: translateY(5px);
            content: '';
            transition: all .2s;
        }
    }
    .contract-tab.on {
        font-weight: 600;
  
        &:after {
            opacity: 1;
            transform: translateY(0px);
            transition: all .2s;
        }
    }
  }
}

.icon-component-container{
  padding: 20px;
  box-sizing: border-box;
}

.icon-property-table-container{
  table{
    width:100%;
    thead{
      background-color:#fff;
      border-top:1px solid #ccc;
    }
    
  }
}

.icon-table-style-details {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  word-break: keep-all;
  
  .icon-properties{
    padding:10px;
    font-weight: bold;
    font-size: 16px;
  }
  table{
    width: 100%;
  }
  colgroup {

    $td-width: 150px, 50px, 60px, 100px, 400px;
    @each $value in $td-width {
        $index:index($td-width, $value);
        col:nth-child(#{$index}){
            width: $value;
        }
    }
  }

  &.table-whiteListRegi {

    colgroup {
      col {
        width: 30%;
      }

      col:first-child {
        width: 70px !important;
      }

      col:last-child {
        width: 70px !important;
      }
  
    }

    tbody tr  {

      &:hover {
        .button-style-delete {
          opacity: 1;
        }
      }

      td {
        padding: 11px;

        div {
          height: auto;
        }
      }

      .input-style-inTable {
        width: 80%;
      }
      .whiteList-value {
        width: 80%;
        display: inline-block;
        padding: 3px 12px 3px 3px;
        text-align: right;
        font-size: 15px;
        vertical-align: middle;
      }
      .unit {
        width: 20%;
        margin-left: 8px;
        font-weight: 600;
        vertical-align: middle;
        color: #4b4b4b;
      }
      .button-style-delete {
        opacity: 0;
        margin: 0 auto !important;

      }
    }

    & + .table-whiteListRegi-upload {
      position: relative;
      height: 80px;
      .small-alert {
        position: absolute;
        left: 110px;
      }
      .details-btn-tableUpload {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -13px;
        margin-top: -13px;
        // background-image: url(#{$path-image}icon-arrow-double-down.png) !important;
      }
      .details-control {
        position: absolute;
        top: 50%;
        right: 0;
      }
    }

    &.whiteListRegi-tableBottom {
      tr td { padding: 6px; }
    }

  }

  thead {
    text-align: center;
    color: #fff;
    background-color: #979c9c;

    th {
      position: relative;
      padding: 10px 0; 
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 0.04rem;

      & > .checkbox {
        .checkbox-square {
          border-color: #eee;
          transition: background-color .2s;

          &:before,
          &:after {
            background-color: #979c9c;
          }
        }
        input[type=checkbox]:checked + .checkbox-square {
          border-color: #fff !important;
          background-color: #fff !important;
          transition: background-color .2s;
        }
      }

      a {
        position: relative;
        padding-right: 20px;

        &:hover,
        &:focus {
          color: #fff;
          cursor: pointer;
          outline: 0;

          &:after {
          color: #323232;
          }
        }



        &:after {
          position: absolute;
          top: 5px;
          right: 0;
          display: block;
          margin-left: 11px;
          content: '▼';
          font-family: serif;
          font-size: 8px;
          color: #5c5c5c;
          transition: transform .3s, top .3s;
        }
      }

      &.on a:after {
        top: 4px;
        transform: rotate(180deg);
        transition: transform .3s, top .3s;
      }
    }
  }

  tbody {
    text-align: center;

    tr {
      color: #2e2e2e;
      td {
        position: relative;
        padding: 11px 4px;
        vertical-align: middle;
        border-bottom: 1px solid #ccc;
        transition: background-color .15s;
        font-size: 14px;
        &:nth-child(1),&:nth-child(5){
          text-align: left;
          margin-left: 10px;
          padding-left:10px;
        }

        & > div {
          height: 36px;
          font-size: 12px;
          font-weight: 500;
          text-align: left;
          line-height: 1.5;
          min-height: 18px;
          @include ellipsis(2);
          white-space: pre-wrap; word-wrap: break-word;
        }

        &:last-child {
          overflow: initial;
        }

        .button-style-refund {
          opacity: 0;
          pointer-events: none;
          transition: opacity .2s;
          
          &:after {
            opacity: 0;
            display: block;
            position: absolute;
            z-index: 1;
            //top: 0px;
            //left: 125%;
            top: 30px;
            left: -55%;
            padding: 3px 7px;
            font-size: 11px;
            white-space: nowrap;
            color: #fff;
            letter-spacing: 0.03rem;
            background-color: rgba(57, 57, 57, 0.66) !important;
            border-radius: 3px;
            content: attr(data-title);
            transition: opacity .3s;
            pointer-events: none;
          }
        }
      }

      &:hover {
        td {
          background-color: #efefef;
          transition: background-color .15s;

          .button-style-refund {
            opacity: .6;
            pointer-events: initial !important;
            transition: opacity .2s;

            &:hover {
              opacity: 1;
              &:after {
                opacity: 1;
                transition: opacity .3s .22s;
              }
            }
          }
        }
      } //end of tr:hover
    }//end of tr

    .table-refunded {
      color: #c3c3c3;
      td {
        .button-style-refund {
          display: none;
        }
      }
    }
  }

}