// PATH
$path-image: '../img/';
$path-font: '../fonts/';

@mixin ellipsis ($lines: 1) {
  @if ($lines == 1) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  } @else {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: $lines;
      -webkit-box-orient: vertical;
  }
}